<div class="jumbotron">
	<h1 class="text-center">
		Bem-vindo ao Spark Word2Vec
	</h1>
</div>
<div class="row">
	<div class="col-lg-8 container">
		<div class="input-group">
			<input type="text" class="form-control" aria-label="..." placeholder="Search for a word or combinarion like: movie + popcorn">
		  	<span class="input-group-btn">
	        	<button class="btn btn-default" type="button">Go!</button>
	      	</span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-8 -->
</div>
<div ui-view="documents"></div>
<div ui-view="cloudWords"></div>